@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

body{
    font-family:'Montserrat', sans-serif;
    background-color: #FFFECE;
}

#game-board {
    height: 900px;
    width: 80%;
    text-align: center;
    margin: auto;
    background-color: white;
}

#header {
    padding-top: 10px;
}

#icons {
    position: relative;
}

#login {
    position: absolute;
    right: 20%;
    top: 50px;
}

#personal-best {
    position: absolute;
    right: 20%;
    top: 100px;
}

#instructions {
    position: absolute;
    left: 20%;
    top: 50px;
}

#button-header {
    font-weight: bold;
}

#difficulty-buttons{
    width: 60%;
    height: 100px;
    margin: auto;
    padding-top: 10px;
}

#difficulty-position > h2 {
    margin-top: 0;
}

#difficulty-position > p {
width: 20%;
font-size: 25px;
display: inline;
padding:0 20px;
}

#main-game-buttons {
    height: 50px;
    width: 60%;
    margin: auto;
    justify-content: center;
    display: flex;
    margin-top: 1%;
    margin-bottom: 1%;
}

.game-button {
    justify-content: center;
    font-size: 15pt;
    border: 2px solid black;
    padding: 10px;
    height: 50px;
    margin: 0 1%;
}

.game-button:hover {
    cursor: pointer;
    background-color: #FFFECE;
}