@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

body{
    font-family:'Montserrat', sans-serif;
    background-color: #FFFECE;
}

#game-board {
    height: 770px;
    width: 100%;
    background-color: white;
    justify-content: center;
}

#game-board-top {
    background-color: white;
    height: 150px;
    width: 100%;
}

#top-positioning-outer {
    width: 60%;
}

#top-positioning {
    width: 720px;
    margin: auto;
}

#game-board-outer {
    width: 60%;
    float: left;
}

#game-board-inner {
    width: 40%;
    float: right;
    text-align: center;
}

#header {
    padding-top: 5px;
}

/** Icons */

#icons {
    display: flex;
    width: 360px;
    height: 100px;
    margin: auto;
}

.icon-style {
    padding: 10px;
    text-align: center;
}

#login i {
    font-size: 30px;
}

#login i:hover {
    cursor: pointer;
    font-size: 40px;
}

#personal-best i {
    font-size: 30px;
}

#personal-best i:hover {
    cursor: pointer;
    font-size: 40px;
}

#instructions i {
    font-size: 30px;
}

#instructions i:hover {
    cursor: pointer;
    font-size: 40px;
}

#button-header {
    font-weight: bold;
}

#dropdown-button {
    justify-content: center;
    font-size: 15pt;
    border: 2px solid black;
    height: 50px;
}

#difficulty-buttons-dropdown{
    position: relative;
    float: left;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
      background-color: #FFFECE;
}

.show {
    display: block;
}

#user-difficulty {
    display: inline-flex;
}

#main-game-buttons {
    height: 50px;
    margin: auto;
    justify-content: center;
    display: flex;
    margin-top: 2%;
    margin-bottom: 1%;
}

.game-button {
    justify-content: center;
    font-size: 15pt;
    border: 2px solid black;
    padding: 10px;
    height: 50px;
    margin: 0 1%;
}

.game-button:hover {
    cursor: pointer;
    background-color: #FFFECE;
}

/** Game board **/

#board-outer {
    width: 100%;
    justify-content: center;
}

#board {
    border: 4px solid black;
    height: 720px;
    width: 720px;
    margin: auto;
 }

 .number {
    background-color: white;
    border: 1px solid black;
    width: 80px;
    height: 80px;
    text-align: center;
    font-size: 50px;
    padding-top: 10px;
    justify-content: center;
    float: left;
    box-sizing: border-box;
}

.right {
    border-right: 4px solid black;
}

.bottom {
    border-bottom: 4px solid black;
}

.row {
    width: 100%;
    height: 55px;
    box-sizing: border-box;
}

#timer {
    font-size: 35px;
    float: right;
    margin: 0;
}

/** Number Pad**/

.number-pad-item {
    font-size: 50px;
    width: 100px;
    height: 60px;
    background-color: #FFFECE;
    margin: 10px;
    border: 2px solid black;
    padding: 10px;
    text-align: center;
}

.number-pad-row {
    display: flex;
    justify-content: center;
    margin: 30px;
}

/** Popup boxes **/

.popup-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    width: 650px;
    background: #f2f2f2;
    text-align: center;
    align-items: center;
    padding: 20px;
    border: 1px solid #b3b3b3;
    box-shadow: 0px 5px 10px rgba(0,0,0,.2);
    z-index: 9999;
    transition: all .3s ease-in-out;
}

#loginpopup {
    z-index: -1;
    pointer-events: none;
}

.iconpopup i {
    font-size: 30px;
    float: right;
    position: absolute;
    top: 10px;
    right: 10px;
}

#instructionspopup {
    z-index: -1;
    pointer-events: none;
    text-align: left;
}

#instructionspopup p {
    text-align: left;
    font-size: 18px;
    line-height: 50px;
}

#highscorespopup {
    z-index: -1;
    pointer-events: none;
}

#winnerpopup {
    z-index: -1;
    pointer-events: none;
}

#winnerpopup i {
    font-size: 30px;
    float: right;
    position: absolute;
    top: 10px;
    right: 10px;
}

#difficultypopup {
    z-index: -1;
    pointer-events: none;
}

#incorrect-user {
    z-index: -1;
    pointer-events: none;
}

.close:hover{
    cursor: pointer;
    font-size: 40px;
}

/* Login and register */

#login-form {
    text-align: left;
    position: relative;
}

.login-position {
    width: 100%;
    padding-top: 15px;
}

#login-form input {
    font-size: 25px;
    float: right;
    width: 80%;
}

#login-form label {
    font-size: 20px;
}

#login-button-position {
    padding-top: 60px;
}

#new-account:hover {
    cursor: pointer;
    text-decoration: underline;
}

#login-button {
   margin: auto;
   position: absolute;
   bottom: -95%;
   left: 35%;

   height: 40px;
   width: 200px;

   background-color: lightblue;
   border-radius: 4px;

   font-size: 20px;
}

#login-button:hover {
    cursor: pointer;
}

#registerpopup {
    z-index: -1;
    pointer-events: none;
}

#registerpopup i {
    font-size: 30px;
    float: right;
    position: absolute;
    top: 10px;
    right: 10px;
}

#registration-form {
    text-align: left;
    height: 250px;
    position: relative;
}

#registration-form input {
    font-size: 25px;
    float: right;
    width: 70%;
}

#registration-form label {
    font-size: 20px;
}

.registration-position {
   height: 400px;
}

#submit-button {
    margin: auto;
    position: absolute;
    bottom: 10%;
    left: 35%;
    height: 40px;
    width: 200px;
    background-color: lightblue;
    border-radius: 4px;
    font-size: 20px;
}

.label-register {
    height: 50px;
    padding: 5px;
}
 
/** Media Queries */

@media screen and (max-width: 1270px) {
    #board {
        height: 630px;
        width: 630px;
    }
    .number {
        height: 70px;
        width: 70px;
    }
    .number-pad-row {
        margin: 18px;
    }
    #difficulty-position > p {
        padding: 0 10px;
    }
    #top-positioning {
        width: 630px;
    }
}

@media screen and (max-width: 1120px) {
    #board {
        height: 540px;
        width: 540px;
    }
    .number {
        height: 60px;
        width: 60px;
        font-size: 35px;
    }
    .number-pad-row {
        margin: 10px;
    }
    #difficulty-position > p {
        padding: 0 2px;
    }
    .number-pad-item {
        width: 80px;
    }
    #top-positioning {
        width: 540px;
    }
}

@media screen and (max-width: 940px) {
    #game-board-inner {
        width: 100%;
    }
    #game-board-outer {
        width: 100%;
    }
    #number-pad-inner{
        display: flex;
        justify-content: center;
    }
    .number-pad-item {
        width: 40px;
    }
    .number-pad-row {
        margin: 0;
    }
    #game-board-top {
        text-align: center;
    }
    #timer {
        margin-left: 0;
    }
    #header {
        margin-left: 0;
    }
    #top-positioning-outer{
        width: 100%;
    }
}

@media screen and (max-width: 780px) {
    .number-pad-item {
        width: 30px;
    }
    .popup-box {
        width: 400px;
    }
}

@media screen and (max-width: 700px) {
    .number-pad-item {
        width: 20px;
        height: 45px;
        font-size: 40px;
    }
}

@media screen and (max-width: 600px) {
    .number-pad-item {
       margin: 5px;
    }
    .row {
        height: 50px;
    }
    .number {
        height: 50px;
        width: 50px;
        font-size: 30px;
    }
    #board {
        height: 450px;
        width: 450px;
    }
    #top-positioning {
        width: 450px;
    }
}

@media screen and (max-width: 500px) {
    .number-pad-item {
       margin: 1px;
    }
    .row {
        height: 40px;
    }
    .number {
        height: 40px;
        width: 40px;
        font-size: 20px;
    }
    #board {
        height: 360px;
        width: 360px;
    }
    .number-pad-item {
        width: 15px;
        height: 35px;
        font-size: 30px;
    }
    .popup-box {
        width: 300px;
    }
    #top-positioning {
        width: 360px;
    }
}

@media screen and (max-width: 400px) {
    #number-pad-inner {
        margin: 5% 0;
    }
    .number-pad-item {
        margin: 1px;
     }
     .row {
         height: 30px;
     }
     .number {
         height: 30px;
         width: 30px;
         font-size: 20px;
         padding-top: 0;
     }
     #board {
         height: 270px;
         width: 270px;
     }
     .number-pad-item {
         width: 10px;
         height: 30px;
         font-size: 25px;
     }
     #difficulty-position > p {
         padding: 0;
         font-size: 20px;
     }
     #top-positioning {
        width: 270px;
    }
    #header {
        font-size: 13px;
    }
    .icon-style {
        padding: 10px 5px;
    }
    #main-game-buttons {
        margin: 5% 0;
    }
}