@import url('https://fonts.googleapis.com/css2?family=Goudy+Bookletter+1911&family=Montserrat:wght@200&display=swap');

body{
    font-family:'Montserrat', sans-serif;
    background-color: #F0F9FA;
    margin: auto;
}

/** Header & Top section of the website*/

#game-board-top {
    background-color: white;
    height: 170px;
    width: 100%;
    display: flex;
}

#top-positioning-outer {
    width: 60%;
}

#top-positioning {
    width: 720px;
    margin: auto;
}

#header {
    border-bottom: solid 2px #1B4353;
    display: flex;
}

#title-style {
    font-weight: bold;
    font-family: 'Goudy Bookletter 1911', sans-serif;
    font-size: 50px;
}

#logo {
    height: 15%;
    width: 15%;
    padding-left: 295px;
    padding-top: 15px;
}

/** Select Difficulty*/

#difficulty {
    z-index: 1;
}

#easy-game{
    background-color: #ACD8AA;
}

#medium-game{
    background-color: #E3D985;
}

#hard-game{
    background-color: #E27A78;
}

.difficulty-selection:hover {
    border: solid 3px black;
}

#user-difficulty {
    display: inline-flex;
    font-size: 25px;
    padding-top: 15px;
    font-weight: bold;
}

/** Timer Section */

#timer {
    font-size: 35px;
    float: right;
    margin: 0;
    padding: 10px 20px 10px 0;
}

/** Central Game Area */

#game-board {
    height: 770px;
    width: 100%;
    background-color: white;
    justify-content: center;
}

/** Left Selection Area */

#game-board-outer {
    width: 60%;
    float: left;
}

/** Game Board */

#board-outer {
    width: 100%;
    justify-content: center;
}

#board {
    border: 4px solid #12122B;
    height: 720px;
    width: 720px;
    margin: auto;
 }

 .number {
    background-color: white;
    border: 1px solid #12122B;
    width: 80px;
    height: 80px;
    text-align: center;
    font-size: 50px;
    padding-top: 10px;
    justify-content: center;
    float: left;
    box-sizing: border-box;
}

.grey {
    background-color: #F0F9FA;
}

.right {
    border-right: 4px solid #12122B;
}

.bottom {
    border-bottom: 4px solid #12122B;
}

.row {
    width: 100%;
    height: 55px;
    box-sizing: border-box;
}

/** Right Selection Area */

#game-board-inner {
    width: 30%;
    float: right;
    text-align: center;
    padding-right: 160px;
}

/** Main Game Buttons */

#main-game-buttons {
    margin: auto;
    justify-content: center;
    margin-bottom: 1%;
}

.game-button {
    justify-content: center;
    font-size: 15pt;
    border: 2px solid #12122B;
    height: 50px;
    width: 180px;
    margin: 0 1%;
    border-radius: 5px;
}

.game-button:hover {
    cursor: pointer;
    background-color: #C6CCD2;
}

/* Keypad Selection Area**/

.number-pad-row {
    display: flex;
    justify-content: center;
    margin: 30px;
}

.number-pad-item {
    font-size: 50px;
    width: 100px;
    height: 60px;
    background-color: #F0F9FA;
    margin: 10px;
    border: 2px solid #12122B;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}

.number-pad-item:hover {
    background-color: #D1EDF0;
}

/* Instructions**/

#instructions i {
    font-size: 30px;
    color: #12122B;
}

#instructions i:hover {
    cursor: pointer;
    font-size: 40px;
}

#instructionspopup {
    z-index: -1;
    pointer-events: none;
    text-align: left;
}

#instructionspopup p {
    text-align: left;
    font-size: 18px;
    line-height: 50px;
}

/** Winner Message **/

#winnerpopup {
    z-index: -1;
    pointer-events: none;
}

#winnerpopup i {
    font-size: 30px;
    float: right;
    position: absolute;
    top: 10px;
    right: 10px;
}

/** Popup boxes **/

.popup-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    width: 650px;
    background: #f2f2f2;
    text-align: center;
    align-items: center;
    padding: 20px;
    border: 1px solid #b3b3b3;
    box-shadow: 0px 5px 10px rgba(0,0,0,.2);
    z-index: 9999;
    transition: all .3s ease-in-out;
}

#position-icons{
    width: 100%;
    border-top: 2px solid black;
}

#icons {
    width: 360px;
    height: 100px;
    margin: auto;
    font-size: 20px;
    text-align: center;
    padding-top: 30px;
}

.icon-style {
    padding: 10px;
    text-align: center;
}

.iconpopup i {
    font-size: 30px;
    float: right;
    position: absolute;
    top: 10px;
    right: 10px;
}

.close:hover{
    cursor: pointer;
    font-size: 40px;
}
 
/** Media Queries */

@media screen and (max-width: 1630px) {
    #game-board-inner{
        padding-right: 150px;
    }
}

@media screen and (max-width: 1550px) {
    #game-board-inner{
        padding-right: 80px;
    }
}

@media screen and (max-width: 1380px) {
    .game-button{
        font-size: 20px;
    }
    #game-board{
        height: 1100px;
    }
    #board {
        height: 630px;
        width: 630px;
    }
    .number {
        height: 70px;
        width: 70px;
    }
    .number-pad-row {
        margin: 18px;
    }
    #game-board-inner {
        width: 100%;
        padding: 0;
    }
    #game-board-outer {
        width: 100%;
    }
    #number-pad-inner{
        display: flex;
        justify-content: center;
    }
    .number-pad-item {
        width: 40px;
    }
    .number-pad-row {
        margin: 0;
    }
    #top-positioning-outer {
        width: 100%;
    }
    #buttons{
        margin-top: 15px;
        margin-bottom: 5px;
        justify-content: center;
    }
    #position-icons {
        border-top: none;
    }   
}

@media screen and (max-width: 850px) {
    #header{
        justify-content: center;
        width: 80%;
        margin: auto;
    }
    #logo {
        padding-left: 150px;
    }
    #timer{
        padding: 10px 70px 10px 0;
    }
    #board {
        height: 450px;
        width: 450px;
    }
    .number {
        height: 50px;
        width: 50px;
        font-size: 30px;
        padding-top: 5px;
    }
    .number-pad-row {
        height: 50px;
    }
    .row {
        height: 50px;
    }
    .number-pad-item {
        width: 20px;
        height: 35px;
    }
    .number-pad-item {
        font-size: 30px;
    }
    #buttons {
        padding-bottom: 20px;
    }
    .popup-box {
        width: 400px;
    }
    #game-board {
        height: 800px;
    }
    #header{
        font-size: 10px;
    }
    #logo{
        padding-top: 25px;
        padding-left: 50px;
        width: 13%;
    }
    #top-positioning {
        width: 600px;
    }
    #user-difficulty {
        padding-left: 60px;
    }
    .difficulty-selection {
        width: 30%;
    }
    #difficulty > h1 {
        font-size: 23px;
    }
    .popup-box {
        top: 42%;
    }
}

@media screen and (max-width: 630px) {
    .number-pad-item {
        margin: 3px;
    }
    .game-button {
        font-size: 17px;
        width: 140px;
    }
    #top-positioning {
        width: 500px;
    }
    #buttons {
        padding-bottom: 15px;
    }
    .difficulty-selection {
        width: 25%;
    }
}

@media screen and (max-width: 525px) {
    .number {
        height: 40px;
        width: 40px;
    }
    #board {
        height: 360px;
        width: 360px;
    }
    .row {
        height: 40px;
    }
    #game-board {
        height: 750px;
    }
    #top-positioning {
        width: 400px;
    }
    #header{
        font-size: 7px;
    }
    #logo{
        padding-left: 20px;
    }
}

@media screen and (max-width: 425px) {
    .number{
        font-size: 20px;
    }
    .popup-box {
        width: 300px;
    }
    .number-pad-item {
        width: 12px;
        height: 30px;
    }
    .number-pad-item {
        font-size: 25px;
    }
    #icons {
        font-size: 10px;
        justify-content: center;
        padding-right: 0;
    }
    #game-board {
        height: 680px;
    }
    #difficulty > h1 {
        font-size: 17px;
    }
}

@media screen and (max-width: 375px) {
    #board {
        height: 315px;
        width: 315px;
    }
    .row {
        height: 35px;
    }
    .number {
        height: 35px;
        width: 35px;
    }
    .number-pad-item {
        font-size: 20px;
    }
    .number-pad-item {
        width: 10px;
        height: 25px;
    }
    .number-pad-item {
        margin: 2px;
    }
    #top-positioning {
        width: 100%;
    }
}